.displayedEntry {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.arrow-container{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 98vw;
  display:flex;
  justify-content: space-between;
}

.prev {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 0;
  transform: translate(0, -50%); */
  z-index: 9999;
}

.next {
  /* position: absolute; */
  /* top: 50%; */
  /* right: 0px;
  transform: translate(0, -50%); */
  padding-bottom: 5px;
  z-index: 9999;
}

.date {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.disabled {
  opacity: 0.3;
}

button {
  background: black;
  all: unset;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}
