.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  position:sticky;
  z-index: 9999;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border-top: solid 1px lightgray;
}

.link {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.link:hover {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.menu-container .active {
  border-bottom: 1px solid black;
}

.logo {
  font-size: 120px;
  padding: 0px;
  margin: 0px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
