.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  top: 0;
  position: absolute;
  z-index: 9999;
<<<<<<< HEAD
  background-color: none;
=======
  background-color: black;
>>>>>>> 4e20fddba1589a3ed39a3c23e00ea353bfb74386
}

#fbButton {
  color: white;
  font-size: 40px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border-top: solid 1px lightgray;
}

button {
  border: none;
  background: none;
  box-shadow: none;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.5;
}

.link:hover {
  text-decoration: none;
  opacity: 1;
}

.active {
  text-decoration: none;
  opacity: 1;
}

.menu-container .active {
  opacity: 1;
}

.logo {
  font-size: 120px;
  padding: 0px;
  margin: 0px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}
