/* .displayedEntry {
  font-family: courier;
  color: black;
  position: absolute;
  border-radius: 1em;
  padding: 1em;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 9999;
} */

.entry-container {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.9);
  color: white;
  width: 50vw;
  height: 50vh;
  border-radius: 6%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.entry {
  position: relative;
  border-radius: 10px;
  width: 40vw;
  height: 40vh;
  text-align: center;
}

.entry p{
  position: relative;
  border-radius: 50%;
}
